body {
    background-color: hwb(175 64% 0%);
    font-family: 'Courier New', Courier, monospace;
}

header {
    text-align: center;
    color: hsl(0, 0%, 0%);
}

h1,h2,h3,h4,h5.h6 {
    font-family: 'Times New Roman';
}
#anti, footer {
text-align: center;
background-color: #32a4e2;
color: white;
padding:  20px;
border: 10px outset  #8cd7ea;
border-radius: 50px;




}
#anti img {
    width: 250px;

}
#hero {
}

#cooking-pic img {
    width: 250px;
    text-align: center;

}

#hobbies ul li:nth-child(odd) {
color: hsl(0, 0%, 0%);

}

#gallery, #lit, #video{
    border: 10px outset rgb(151, 148, 115);
    border-radius: 30px;
    text-align: center;
    background-color: hsl(221, 96%, 70%);
    margin-bottom: 2em;
    
}
#gallery hr {
    border: none;
    border-top: 10px;
}



img {
    max-width: 100%;
}
#lit {
    text-align: justify;
}
#lit div {
    padding: 2em;
    max-width: 40rem;
    margin-left:auto;
    margin-right: auto;
}


/* dropcaps */
 #lit p:first-letter {
    color: #ffe17f;
    background-color: #176d9c;
    background-image: hsl(230, 86%, 42%);
    text-shadow: hsl(221, 90%, 32%);
    float: left;
    font-size: 3em;
    line-height: 100%;
    padding: .1ex;
    border-radius: 10px;
    border-radius: 5px;
    margin-right: 10px;
 }
 #lit div p {
    clear: both;
 }

 #lit h2 {
    text-align: center;
 }

#hobbies {
display: flex; 
flex-direction: column; 
align-items: center;
}


#lit div p:nth-child(3n+1):first-letter {
    color: blue;
    background-image: radial-gradient(white, #b3b3fd);
    float: left;
    font-size: 3em;
    padding: 0.25em;
    margin-right: 0.25;
    line-height: 0.65;
    border: 4px outset blue;
    text-shadow: 2px 2px 3px gray;
    box-shadow: 5px 5px 5px gray;
    border-top-left-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
}


























 @media screen and (min-width: 60em) {
    figure {
        display:grid;
        grid-template-columns: 2fr 1fr;
    }
    figcaption {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        margin-left: 1rem;
    }

figure img {
    width: 100%;
}


#lit div {
    max-width: 100%;
    columns: 40rem;
}
 }

 
@media screen and (min-width:100em) {
#gallery {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
}
hr {
    display:none;
}

#gallery h2 {
    grid-column: 1/-1;
}

figure {
    display: block;
}
}

 #myvideo {
width: 100%;
position:absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
height: 100%;
 }

 #videocontainer {
    position:relative;
    overflow:hidden;
    width:100%;
    padding-top: 56.25%;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;

 }
 #videocontainercontainer {
    max-width: 100%;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5rem;
    padding-top: 5rem;
 }

/* Contact Form */

#formElements {
    display: grid;


    
}


